<h1><%= @artist.name %></h1>
<ul>
  <%=link_to "New Song", new_artist_song_path(@artist)%>
  <% @artist.songs.each do |song| %>
    <li><%= link_to song.title, artist_song_path(@artist, song) %>
      <%=link_to "Edit Song", edit_artist_song_path(@artist)%>
    </li>
  <% end %>
</ul>
