<%= form_for @song  do |f| %>


  <label>Select artist:</label>
  <%= artist_id_field(@song) %><br>

  <label>Song title:</label>
  <%= f.text_field :title %><br>


  <br />

  <%= f.submit %>
<% end %>