<%= form_for(@song) do |f| %>

  <label>Song title:</label><br>
  <%= f.text_field :title %><br>

  <label>Song Artist:</label>
  <%= artist_select(@song, @song.artist) %>

  <%= f.submit %>
<% end %>
